html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.main {
  min-height: 100vh;
  background-color: #fff;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  margin-bottom: 2rem;
  max-width: 1100px;
}

.component-canvas {
  padding: 1rem;
  border: 1px solid #d1d1d1;
  background-color: #f8f8f8;
  border-radius: 5px;
  max-width: 900px;
}
